#container {
    /* border: 1px solid black; */
    margin:0px auto;
    width: 1200px;
}

#header{
    height:120px;
    padding: 10px 0px;
}

#brand {
    float:left;
}

h1 a{
    font-size: 70px;
    font-weight:100;
    text-decoration: none;
    color: #8A2FC1;
}

#searchBox {
    float: right;
    background: linear-gradient( #DFEAA8, #BCDD5C);
    width: 400px;
    height: 50px;
    padding: 15px 15px 0px 15px;
    margin-top:20px; 
}

.text {
    float:left;
    width: 200px;
    padding: 4px;
    font-size: 15px;
    color: #F07008;
    background: white url(images/search.png) no-repeat right ;
    border: 2px solid #CBC639;
}

.submit {
    float: right; 
    padding: 4px;
    font-weight: bold;
    color: white;
    background: #AD61DC; 
    font-size: 14px;  
}

.clear {
    clear:both;
}

#menu {
    height: 65px;
    background: linear-gradient(#F8EC89, #DBCF38);
    padding: 2px 0px;
}

ul {
    list-style: none;
}

#menu ul li{
    float: left;
    padding: 0px 20px;
    height: 30px;
    border-right: 2px solid #5d12e7;
    line-height: 30px;
}

#menu ul li:last-child{
    border-right: none;
}

#menu ul li a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
    color: #5d12e7;
    -webkit-transition: font-size 0.3s ease; 
    -moz-transition: font-size 0.3s ease; 
    -o-transition: font-size 0.3s ease; 
    -ms-transition: font-size 0.3s ease; 
    transition: font-size 0.3s ease; 
}

#menu ul li a:hover, #menu ul li a.active {
    font-size: 25px;
    font-weight: bold;
    color: #C22FDB;
}

#introduction {
    background: linear-gradient(#DDE9A6, #B6D855);
    padding: 20px;
    margin: 20px 0px;
}

#introduction h3 {
    font-size: 45px;
    font-weight: normal;
    color: #305F01;
}

#introduction p {
    font-size: 22px;
    color: #628416;
    text-align: justify;
}

.sideBar {
    width: 525px;
    height: 575px;
    border: 2px solid #B8E76B;
    border-radius: 20px;
    padding: 25px;
}

.sideBar h3 {
    font-size: 30px;
    color: #C031E6;
}

.sideBar ul li a {
    text-decoration: none;
    font-size: 22px;
    color: #5d12e7;
    -webkit-transition: font-size 0.3s ease; 
    -moz-transition: font-size 0.3s ease; 
    -o-transition: font-size 0.3s ease; 
    -ms-transition: font-size 0.3s ease; 
    transition: font-size 0.3s ease; 
}

.sideBar ul li a:hover {
    font-size: 25px;
    font-weight: bold;
    color: #C22FDB;
}

#leftSideBar {
    float: left;
}

#rightSideBar {
    float: right;
}

.sideBar ul{
    padding-top: 10px;
}

#leftSideBar ul li{
    padding: 7px 0px 7px 8px;
    list-style-image: url(images/arrow-right.png); 
}

#rightSideBar ul li{
    padding: 21px 0px 21px 75px;     
    background: url(images/tick-sign.png) no-repeat left center ;
}

.footer {
    height: 70px;
    font-size: 20px;
    background: linear-gradient(#FAED8B, #DACA2F);
    padding: 10px 20px;
    margin-top: 20px;
}
